/* navigation bar styles */
li {
display: inline;
float: left;
padding: 18px;
font: 20px "Open Sans", sans-serif;
}

a {
   color: black;
   opacity: 0.25;
   text-decoration: none;
   transition:0.5s;
}

a:hover {
   opacity: 0.55;
}

nav {
   padding-left:25px;
   padding-top:40px;
}

/*styles for principle h2 and p*/
.principle {float: right; margin: 10% 20%}
.principle h2 {
   font: 32px "Open Sans", sans-serif;
   padding-bottom: 15px
}
.principle span {
   font: bold 64px "Open Sans", sans-serif;
   color: red
}
.principle p {
   font: 20px/30px "Libre Baskerville", serif;
   padding-top: 40px;
   border-top: 3px solid black
}

/*styles for principle h1*/
.principle h1 {
   font: 200px "Open Sans", sans-serif;
   color: #EE26CD;
   opacity: 0.15;
   z-index: -1;
   position: absolute;
   bottom: 10%;
   right: 25%;

}

/*responsive background images*/
#bg {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: -2;
   opacity: .5
}



